@import 'tailwindcss';


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
    .label {
        @apply block mb-1 font-medium text-gray-500 dark:text-gray-300
    }
    .input {
        @apply block border rounded-md shadow-sm w-full p-2 border-gray-300 text-gray-500 dark:border-gray-600 dark:text-white
    }
    .btn-primary {
        @apply bg-[#054fbe] text-white rounded-md px-4 py-2 hover:bg-[#055ebe] font-medium
    }
    .btn-secondary{
        @apply bg-[#054fbe] text-white text-sm rounded-md px-2 py-2 hover:bg-[#055ebe] font-medium
    }
    .input-error{
        @apply text-sm text-red-500 text-red-400 
    }
    .input-left {
        @apply px-2 py-2 w-28 placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-md rounded-b-md rounded-r-none text-sm font-medium text-gray-600 dark:text-gray-300 dark:bg-gray-800
    }
    .input-right {
        @apply px-2 py-2 w-28 placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-none rounded-b-md rounded-r-md text-sm font-medium text-gray-600 dark:text-gray-300 dark:bg-gray-800
    }
        .btn-filter {
        @apply bg-gray-600 text-white rounded-md w-24 hover:bg-gray-400 font-medium
    }
}